{% extends 'bases/baseadmin.html' %}
{% block title %}Administrador {% endblock %}


{% block js %}

{% endblock %}

{% block contenido %}


<div class="card">

    <div class="card-body">
        <h4 class="card-title">Lista de Resoluciones</h4>
        <p class="card-text">Ley 5189/2014</p>
        <hr>
        {% if perms.App.add_resoluciones_MECIP%}
        <a href="{% url 'agregar_resoluciones' %}" class="btn btn-success btn-sm" >Nueva Categoria</a>
        {% endif %}
        <table class="table table-striped table-hover table-responsive-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Resoluicion</th>
                    <th>Año</th>
                    <th>Descripcion</th>
                    <th>Documento</th>
                    <th>ACCION</th>
                </tr>
            </thead>
            <tbody>
                {% for r in documentos %}
                <tr>
                    <td scope="row">{{r.id}}</td>
                    <td>{{r.resolucion}}</td>
                    <td>{{r.anho}}</td>
                    <td>{{r.descripcion}}</td>
                    <td>{{r.archivo}}</td>
                    <td>
                        {% if perms.App.change_resoluciones_MECIP%}
                        <a href="{% url 'modificar_resoluciones' r.id %}" class="btn btn-info btn-sm"> Modificar</a>
                        {% endif %}
                        &nbsp;
                        {% if perms.App.delete_resoluciones_MECIP%}
                        <a href="#" class="btn btn-danger btn-sm">Eliminar</a>
                        {% endif%}

                    </td>
                </tr>
                {% endfor%}
            </tbody>
        </table>

        {% include 'paginas/paginator.html' %}
    </div>
</div>
<!---->

{% endblock %}
