{% extends 'bases/baseadmin.html' %}
{% block title %}Administrador {% endblock %}


{% block js %}

{% endblock %}

{% block contenido %}


<div class="card">

    <div class="card-body">
        <h4 class="card-title">Lista de Meses</h4>
        <p class="card-text">Ley 5189/2014</p>
        <hr>
        {% if perms.App.add_meses%}
        <a href="{% url 'agregar_meses' %}" class="btn btn-success btn-sm" >Nuevo Documento</a>
        {% endif %}
        <table class="table table-striped table hover table-resposive-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Mes </th>
                    <th>ACCION</th>
                </tr>
            </thead>
            <tbody>
                {% for m in documentos %}
                <tr>
                    <td scope="row">{{m.id}}</td>
                    <td>{{m.nombre}}</td>
                    <td>
                        {% if perms.App.change_meses%}
                        <a href="{% url 'modificar_meses' m.id %}" class="btn btn-info btn-sm"> Modificar</a>
                        {% endif %}
                        &nbsp;
                        {% if perms.App.delete_meses%}
                        <a href="{% url 'eliminar_meses' m.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                        {% endif%}

                    </td>
                </tr>
                {% endfor%}
            </tbody>
        </table>

        {% include 'paginas/paginator.html' %}
    </div>
</div>


{% endblock %}
